@model KartStatsV3.Models.Group

@{
    ViewBag.Title = "Groep verwijderen";
}

<h2>Weet je zeker dat je de groep '@Model.Name' wilt verwijderen?</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.GroupId)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Verwijderen" class="btn btn-danger" />
                @Html.ActionLink("Annuleren", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
