@model Circuit

<h1>Details</h1>

<div>
    <h4>Circuit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.CircuitId</dd>
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>
    </dl>
</div>
<p>
    <a asp-action="Index">Back to List</a>
</p>
