@model KartStatsV3.Models.ErrorViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>Fout</h1>
    <h2>@Model.Message</h2>
</body>
</html>
